:root {
    --cor-principal: #0217ff;
    --cor-secundaria: #ff0000;
    --cor-destaque: #a52bce;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}